<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Update Member</title>
</head>
<body>
    <h2>Update Member</h2>

    <form action="/updaterecorddb/{{ member.id }}/">
        <label>Firstname:</label>
        <input type="text" name="text1" value="{{ member.firstname }}"><br><br>

        <label>Lastname:</label>
        <input type="text" name="text2" value="{{ member.lastname }}"><br><br>

        <button type="submit">Update</button>
    </form>

    <br>
    <a href="/displayrecords/">Back to Records</a>
</body>
</html>

